<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Bad Request</title>
    <link rel="stylesheet" href="/templates/styles.css">
</head>
<body>
    <div class="bigtable">
        <table id="layoutGrid">
            <thead>
                <tr>
                    <th colspan="2">
                        <div class="head">ASCII ART WEB</div>
                    </th>
                </tr>
            </thead>
            <tbody class="layoutGridStyle">
                <tr>
                    <td>
                        <div class="error-content">
                            <h1>400</h1>
                            <h2>Bad Request</h2>
                            <p>The server could not understand the request due to invalid syntax.</p>
                            <a href="/"><button type="submit" id="submit-btn">Return to Home</button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <img src="https://img.freepik.com/free-psd/gradient-wavy-border-design_23-2151320985.jpg?t=st=1722866698~exp=1722870298~hmac=b2f8b449abe2588d3ffab524ba72f36db50382f415caac7cd35358fc1abdca61&w=1380" alt="Bottom Image" class="bottom-image">
</body>
</html>
